extends layout

block nav
  ol.breadcrumb
    li
      a(href="/compare") Compare
    li.active ids

block js
  script(src="/dist/compare.js")

block body
  .graphite-charts(data-graphite=graphite, data-targets=targets)

